/* custom style for scollbar */
.multitrack-container {
  overflow: auto;
  scrollbar-width: thin;
}
 
.multitrack-container > div[style*="overflow-x: scroll"] {
  scrollbar-width: thin !important;
  scrollbar-color:rgb(126 34 206) rgb(218, 206, 218) !important;
  overflow-x: scroll !important;
}
 
.multitrack-container > div[style*="overflow-x: scroll"]::-webkit-scrollbar-thumb {
  background-color: rgb(126 34 206) !important;
  border-radius: 1px !important;
}

.multitrack-container > div[style*="overflow-x: scroll"]::-webkit-scrollbar-track {
  background: rgb(126 34 206) !important;
  border-radius: 1px !important;
}
 
/* Hide timeline when there are no pills */
.timeline-hidden div[part="timeline-wrapper"] {
  display: none !important;
}
 

.drag-handle {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 20px;
  height: 20px;
  cursor: move;
  z-index: 20;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all 0.2s;
  pointer-events: none;
  background-color: rgb(0 0 0 / 0.3)
}

 
.delete-button {
  position: absolute;
  left: 4px;
  top: 28px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 20;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all 0.2s;
  pointer-events: none;
  background-color: rgb(0 0 0 / 0.3)
}
 


 